{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}

    {% for item in itemlist %}
    <!-- <img src="{{ item.item_image }}">

    <ul>

        <li>
            <a href="{% url 'food:detail' item.id %}">
            {{ item.id }} -- {{ item.item_name }} -- {{ item.item_desc }} -- {{ item.item_price }}
            </a>
        </li>

    </ul> -->
    <div class="row mb-5">
        <div class="offset-md-2 col-md-3">
            <img src="{{ item.item_image }}" class="card" heigtht="140px" width="230px">
        </div>

        <div class="col-md-4">
            <h3 style="font-size:1.5rem">{{ item.item_name }}</h3>
            <h5 style="font-style: italic; font-size:1rem">{{ item.item_desc | truncatewords:6 }}</h3>
            <h6>${{ item.item_price }}</h3>
            <h6 style="font-style: italic">rest owner:{{ item.rest_owner }}</h6>
            <h6 style="font-style: italic">added by:{{ item.added_by }}</h6>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-3">
            <a href="{% url 'food:detail' item.id %}" style="width:100px" class="btn btn-success">
                Details
            </a>
        </div>
        {% endif %}

    </div>

    {% endfor %}
    <!-- start code for pagination -->
      <!-- start code for pagination -->

    {% if itemlist.has_previous %}

        <a href="?page=1">
            First
        </a>

        <a href="?page={{ itemlist.previous_page_number }}">
            Previous
        </a>

    {% endif %}

    <!-- current page -->
    Page: {{ itemlist.number }} of {{ itemlist.paginator.num_pages }}

    {% if itemlist.has_next %}

        <a href="?page={{ itemlist.next_page_number }}">
            Next
        </a>

        <a href="?page={{ itemlist.paginator.num_pages }}">
            Last
        </a>

    {% endif %}

      <!-- start code for pagination -->

      {% if itemlist.has_previous %}

      <a href="?page=1">
          First
      </a>

      <a href="?page={{ itemlist.previous_page_number }}">
          Previous
      </a>

    {% endif %}

    <!-- current page -->
    Page: {{ itemlist.number }} of {{ itemlist.paginator.num_pages }}

    {% if itemlist.has_next %}

      <a href="?page={{ itemlist.next_page_number }}">
          Next
      </a>

      <a href="?page={{ itemlist.paginator.num_pages }}">
          Last
      </a>

    {% endif %}

    <!-- end code for pagination -->



    

    {% endblock %}
</body>
</html>
